<launch>
    <arg name="frame_prefix" default=""/>
    <arg name="robot_name" default=""/>
    <arg name="hokuyo" default=""/>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find spot_navigation_multistairs)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find spot_navigation_multistairs)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        
        <rosparam file="$(find spot_navigation_multistairs)/config/local_costmap_params.yaml" command="load" />
        
        <rosparam file="$(find spot_navigation_multistairs)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find spot_navigation_multistairs)/config/base_local_planner_holonomic_params.yaml" command="load" />

        <rosparam file="$(find spot_navigation_multistairs)/config/move_base_params.yaml" command="load" />


        <!-- explicitly define frame ids for movebase -->
        <param name="global_costmap/global_frame"                   value="$(arg frame_prefix)map"/>
        <param name="global_costmap/robot_base_frame"               value="$(arg frame_prefix)base_link"/>
        <param name="global_costmap/2d_obstacles_layer/scan/topic"  value="$(arg robot_name)(arg hokuyo)scan"/>
        <param name="global_costmap/3d_obstacles_layer/depth/topic" value="$(arg robot_name)combined_cloud"/>
        
        <param name="local_costmap/global_frame"                    value="$(arg frame_prefix)map"/>
        <param name="local_costmap/robot_base_frame"                value="$(arg frame_prefix)base_link"/>
    
        <param name="local_costmap/2d_obstacles_layer/scan/topic"   value="$(arg robot_name)(arg hokuyo)scan"/>
        <param name="local_costmap/3d_obstacles_layer/depth/topic"  value="$(arg robot_name)combined_cloud"/>
  

	<remap from="odom" to="spot/odometry" />
	<remap from="cmd_vel" to="spot/cmd_vel" />
    </node>
</launch>
