<launch>
	<arg name="rviz" default="true" />
        <include file="$(find spot_bringup)/launch/base.launch"/>
        <include file="$(find spot_navigation_multistairs)/launch/plan_navigation.launch"/>
        <node pkg="rviz" type="rviz" name="rviz" if="$(arg rviz)" args="-d $(find spot_navigation_multistairs)/rviz/rosplan.rviz" required="true" output="screen"/>
</launch>
